* {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  min-width: 350px;
  margin: 0 auto;
}

textarea {
  padding: 0.5rem 0.75rem;
  width: 100%;
  resize: vertical;
  outline: none;
}
